@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    margin: 0 auto;
    text-align: center;
}
#header {
    padding: 50px 0; /* 위 아래 padding 줌으로써 높이 생성 */
    background-color: #ddd;
    .header-ui {
        width: 100%; /* width를 지정해줘야 함 */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .back-btn {
            img {
                transition: .2s;
            }
        }
        .back-btn:hover img {
            transform: scale(1.1);
        }
        .title {
            font-size: 48px;
        }
        .logout {
            font-weight: 700;
            font-size: 18px;
            transition: .2s;
        }
        .logout:hover {
            color: rgb(60, 122, 255);
            border-bottom: 1px solid rgb(60, 122, 255);
        }
    }
}
#footer {
    padding: 50px 0; /* 위 아래 padding 줌으로써 footer의 높이 생성 */
    background-color: #ddd;
    text-align: center;
}