@charset "utf-8";

.upload-list {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #999;
    label {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        margin: 30px;
        input {
            margin-left: 50px;
            width: 20%;
        }
        select {
            margin-left: 50px;
            width: 5%;
        }
        
    }
}