section { padding: 100px 0; }

section .img-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 20px; }

section .img-container .product-img { width: 40%; padding: 50px 0; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #000; }

section .img-container .product-img .product-title { width: 100%; font-size: 24px; }

section .img-container .product-img img { border: 1px solid #000; margin: 50px 0; }

section .img-container .product-img .product-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 50px; }

section .img-container .product-img .product-btn .product-btn-edit { width: 100px; height: 30px; line-height: 30px; border-radius: 30px; background-color: #0058a3; color: #fff; }

section .img-container .product-img .product-btn .product-btn-del { width: 100px; height: 30px; line-height: 30px; border-radius: 30px; background-color: #0058a3; color: #fff; }

section .upload-btn { border: none; margin: 50px auto; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; background-color: #0058a3; color: #fff; font-size: 20px; }
